<a href="https://colab.research.google.com/github/Zirtaebfm/My-Python-Works/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd # Importacion estandar de la libreria Pandas
import numpy  as np # Importacion estandar de la libreria NumP

# Crear diferentes tipos de datos
my_list = [10,20,30] # lista con valores

In [14]:
# Ingresar el nombre de las posiciones
labels = ['a','b','c'] # lista de eetiquetas
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
# Convertir un arreglo en series usando el metodo pd.Series
arr = np.array([10,20,30]) # Convertir lista de valores en arreglo NumPy
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [17]:
d = {'a':10,'b':20,'c':30} # Creacion de un diccionario
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [27]:
# Importar la funcion de NumPy para crear arreglos de numeros enteros
from numpy.random import random
np.random.seed(101) # Inicializar el generador aleatorio

In [24]:
# Forma r√°pida de crear una lista desde strings split sustituye la coma en cada elemento
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [55]:


np.random.seed(0) # Inicializar el generador aleatorio

# Crear un dataframe con numeros aleatorios de 4 Columnas y 5 Filas
# Crear listas rapidamente usando la funcion split 'A B C D E'.split()
# Esto evita tener que escribir repetidamente las comas

df = pd.DataFrame(random(5,4),
                  index='A B C D E'.split()
                  columns='W X Y Z'.split())

SyntaxError: ignored

In [67]:
import pandas as pd
import numpy as np

np.random.seed(0)
pd.DataFrame(np.random.rand(5, 4))

          0         1         2         3
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
3  0.568045  0.925597  0.071036  0.087129
4  0.020218  0.832620  0.778157  0.870012

In [57]:
df.shape

(5, 4)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [59]:
# Tipos de datos que existen en las columnas del dataframe
df.dtypes

W    float64
X    float64
Y    float64
Z    float64
dtype: object

Estadistica descriptiva General

In [60]:
df.describe() #Presenta un resumen de la estadistica descriptiva general de las columnas numericas del dataframe

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   1.156702 -0.050001  0.565960  0.604678
std    0.826433  0.576234  0.379083  1.242182
min   -0.103219 -0.977278  0.144044 -0.854096
25%    0.761038 -0.205158  0.313068 -0.151357
50%    1.494079  0.121675  0.443863  0.333674
75%    1.764052  0.400157  0.950088  1.454274
max    1.867558  0.410599  0.978738  2.240893

In [62]:
df.head(2) #Ver primeros n elementos de las df

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357

In [63]:
df.tail()

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [64]:
df.sample(3) # Ver n elementos al azar

          W         X         Y         Z
E  1.494079 -0.205158  0.313068 -0.854096
B  1.867558 -0.977278  0.950088 -0.151357
A  1.764052  0.400157  0.978738  2.240893

In [65]:
# Visualizar todos los datos de una columna
df['W']

A    1.764052
B    1.867558
C   -0.103219
D    0.761038
E    1.494079
Name: W, dtype: float64

In [ ]:
# Seleccionar dos o mas columnas
# Pasar una lista con los nombres de las columnas

df[['W','Z']]

In [66]:
# Crear nueva columna igual a la suma de otras dos
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  1.764052  0.400157  0.978738  2.240893  2.742790
B  1.867558 -0.977278  0.950088 -0.151357  2.817646
C -0.103219  0.410599  0.144044  1.454274  0.040825
D  0.761038  0.121675  0.443863  0.333674  1.204901
E  1.494079 -0.205158  0.313068 -0.854096  1.807147

In [68]:
df.drop('new',axis='columns')

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [70]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight', 'length']],
                     codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3, 0.2]])
df

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [71]:
#Elimina solo la fila correspondiente
df.drop(index=('falcon', 'weight'))

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       length    0.3    0.2

In [72]:
df.drop(index='length', level=1)

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8